[user]
  email = dakota.w.nelson@gmail.com
  name = Dakota Nelson
[push]
  default = simple
[github]
  user = DakotaNelson
[color]
  branch = auto
  diff = auto
  status = auto
[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green
[color "status"]
  added = yellow
  changed = green
  untracked = cyan
[alias]
	llog = log --graph --abbrev-commit --decorate --date=relative --all
